@media only screen and (max-width: 1200px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 1.2vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1 {
    font-size: 2.2vw;
  }
}
@media only screen and (max-width: 1024px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 1.4vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1 {
    font-size: 2.4vw;
  }
}
@media only screen and (max-width: 897px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 1.6vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1 {
    font-size: 2.6vw;
  }
  #zero_sec .svg_image {
    height: 15%;
  }
}
@media only screen and (max-width: 800px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 1.8vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1 {
    font-size: 2.8vw;
  }
  #zero_block_resume {
    margin-bottom: 70%;
  }
}
@media only screen and (max-width: 643px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 2.2vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1 {
    font-size: 3.2vw;
  }
  #first_sec, #zero_sec {
    margin-bottom: 70%;
  }
  #second_block_resume {
    margin-bottom: 70%;
  }
}
@media only screen and (max-width: 526px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 2.6vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1  {
    font-size: 4.0vw;
  }
  #first_block_resume #description {
    visibility: hidden;
    position: absolute;
  }
  .footer, .footer_sites {
    width: calc(100%/2);;
  }
  .footer_figma {
    visibility: hidden;
    position: absolute;
  }
  #zero_block_contact {
    margin-bottom: 70%;
  }
}
@media only screen and (max-width: 430px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 3.4vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1 {
    font-size: 4.6vw;
  }
  .footer li {
    margin-left: 10px;
  }
  
  .page_name {
    visibility: hidden;
    position: absolute;
  }
  header .menu_top li {
    margin-left: 30px;
  }
  nav {
    width: 50%;
  }
  header .menu_top li {
    display: inline-block;
    margin-left: 0px;
    margin-right: 30px;
  }
  nav {
    width: 100%;
    text-align: left;
  }
  #menu {
    padding: 16px 0px 16px 0px;
    width: 100%;
  }
  .menu_top {
    position: absolute;
    background: rgb(255, 255, 255);
    transition-duration: .5s;
    opacity: 0;
    pointer-events: none;
    cursor: default;
  }
  .menu_top.active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
  .burger {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    border: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 390px) {
  #description p1, p2, #place_of_work p2, #menu a, #footer_sites p2, .footer_texts p2, p1, .page_name li a, .logo li a {
    font-size: 3.8vw;
  }
  #third_sec .container p2, #subtitle p2, header p1, #logo, #title, #creativity p2, #contact_link a p1, #contact_link p1 {
    font-size: 4.4vw;
  }
  #first_sec .container, #second_sec .container, #third_sec .container, #zero_block_resume .container, #first_block_resume .container, #second_block_resume .container, #third_block_resume .container, #zero_block_contact .container, #first_block_contact .container {
    width: 80%;
    left: 10%;
  }
  #third_sec .container {
    transform: translate(0%, 0%);
  }
}
