@media only screen and (max-width: 1024px) {
  p2 {
    font-size: 1rem;
  }
  html {
    font-size: 2.5vw;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-template-areas:
      "spline spline"
      "name name"
      "about about"
      "location nickname"
      "contact contact"
      "experience experience";
    align-self: none;
    padding: 0rem;
    align-self: stretch;
  }
  .name,
  .location,
  .spline {
    aspect-ratio: auto;
  }
  .location .additional {
    visibility: hidden;
    display: none;
  }
  .name,
  .experience,
  .contact,
  .about,
  .nickname,
  .location .title {
    gap: 1.5rem;
  }
  .spline {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }
}
@media only screen and (max-width: 512px) {
  html {
    font-size: 3.5vw;
  }
}
