@media only screen and (max-width: 800px) {
  html {
    font-size: clamp(12px, 1vw, 16px);
  }

  body {
    align-items: flex-start;
  }

  .frame {
    height: fit-content;
  }

  #name,
  #about {
    aspect-ratio: 1;
  }

  .grid_index {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .grid_portfolio {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .grid_portfolio .frame {
    aspect-ratio: 1;
  }

  .grid_project {
    margin: 0;
    padding: 1rem;
  }

  .info {
    display: none;
    visibility: none;
  }

  #date {
    position: relative;
    left: unset;
  }

  #osAndWindowSize {
    position: relative;
    right: unset;
    text-align: left;
  }

  #timer {
    position: relative;
    left: unset;
    text-align: left;
  }

  .frame:hover {
    box-shadow: none;
  }
}