@font-face {
  font-family: "Aeonik Pro Regular";
  src: url(/fonts/AeonikPro-Regular.ttf);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
html {
  height: 100%;
  font-size: 1vw;
}
p1 {
  font-family: "Aeonik Pro Regular";
  color: #1d1d1d;
  leading-trim: both;
  text-edge: cap;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p2 {
  font-family: "Aeonik Pro Regular";
  color: #bbbbbb;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p2 a {
  text-decoration: none;
  color: #0a84ff;
  transition: 300ms;
}
p2 a:hover {
  text-decoration: none;
  color: #055cb5;
  transition: 300ms;
}
.container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    ". name location spline"
    "about about nickname contact"
    ". experience experience .";
  grid-gap: 0.25rem;
  padding: 0 10rem;
  max-width: 1120px;
}
.name {
  grid-area: name;
}
.location {
  grid-area: location;
}
.about {
  text-wrap: balance;
  grid-area: about;
}
.nickname {
  text-wrap: balance;
  grid-area: nickname;
}
.contact {
  grid-area: contact;
}
.experience {
  grid-area: experience;
}
.spline {
  aspect-ratio: 1/1;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  grid-area: spline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  outline: solid 0px #ebebeb;
  transition: background-color 0.5s;
}
.spline:hover {
  background-color: rgba(255, 255, 255, 1);
  outline: solid 1px #ebebeb;
  transition: background-color 0.5s;
}
.spline:not(:hover) {
  background-color: rgba(255, 255, 255, 0);
  outline: solid 0px #ebebeb;
  transition: background-color 0.5s;
}
.name,
.location,
.about,
.nickname,
.contact,
.experience {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 1.5rem;
}
.name,
.location,
.about,
.nickname,
.contact,
.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.name:hover,
.location:hover,
.about:hover,
.nickname:hover,
.contact:hover,
.experience:hover {
  outline: solid 1px #ebebeb;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.name,
.location {
  aspect-ratio: 1/1;
}
.additional {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  gap: 0.25rem;
}
.current {
  display: flex;
  width: 16.8%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.75rem;
}
.future {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.75rem;
  flex: 1 0 0;
}
.ages {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.locator {
  width: 3.5rem;
  height: 3.5rem;
}
.circle {
  margin: auto;
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  background: #0a84ff;
  border: 0.25rem solid #ffffff;
}
.location .additional {
  justify-content: right;
}
.double_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.places_of_work {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.25rem;
}
.havas {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1;
}
.idaproject_upwork {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
  flex: 1;
}
.idaproject,
.upwork,
.fam {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1;
}
.line {
  display: flex;
  height: 0.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  background: #f4f4f4;
}
::-moz-selection {
  color: #1d1d1d;
  background: #e8e8e8;
}
::selection {
  color: #1d1d1d;
  background: #e8e8e8;
}
.blur {
  transition: filter 0.5s;
}
.blur::after {
  transition: filter 0.5s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}
.overlay-content {
  pointer-events: auto;
  text-align: center;
}
#date,
#timer,
#osAndWindowSize {
  font-family: "Aeonik Pro Regular";
  color: #bbbbbb;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration: none;
  position: fixed;
  top: 1.5rem;
}
#date {
  left: 1.5rem;
  text-align: left;
}
#timer {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#osAndWindowSize {
  right: 1.5rem;
  text-align: right;
}
.overlay-content a {
  font-family: "Aeonik Pro Regular";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: #bbbbbb;
  text-decoration: none;
  transition: color 0.3s;
  position: fixed;
}
.overlay-content a:hover {
  color: #055cb5;
}
.linkedin-link {
  bottom: 1.5rem;
  left: 1.5rem;
  text-align: left;
}
.inspirations-link {
  bottom: 1.5rem;
  right: 1.5rem;
  text-align: right;
}
.theme {
  bottom: 1.5rem;
  transform: translateX(-50%);
  text-align: center;
}
.instagram-link {
  bottom: 1.5rem;
  right: 1.5rem;
  text-align: right;
}
body {
  transition: background-color 0.5s;
}
.dark-theme body {
  background-color: #0F0F0F;
}
.dark-theme .spline:hover,
.dark-theme .name,
.dark-theme .location,
.dark-theme .about,
.dark-theme .nickname,
.dark-theme .contact,
.dark-theme .experience {
  background-color: #030303;
}
.dark-theme .line {
  background: #222222;
}
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.dark-theme p1 {
  color: #FFFFFF;
}
.dark-theme .spline:hover,
.dark-theme .name:hover,
.dark-theme .location:hover,
.dark-theme .about:hover,
.dark-theme .nickname:hover,
.dark-theme .contact:hover,
.dark-theme .experience:hover {
  outline: solid 1px #1C1C1C;
}
.dark-theme #date,
.dark-theme #timer,
.dark-theme #osAndWindowSize,
.dark-theme .overlay-content a,
.dark-theme p2 {
  color: #545454;
}
.dark-theme .overlay-content a:hover {
  color: #055cb5;
}
